
.wrapper .sidebar{
    background: lightgray;
    position: fixed;
    top: 9px;
    left: 10;
    z-index: 200;
    width: 225px;
    height: 100%;
    padding: 20px 0;
}

.wrapper .category a {
    font-size: 25px;
    color: black;
    border-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
}

.wrapper .sidebar .category{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .category p{
    color: black;
    font-size: 50px;
    margin: 150px 0 5px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 30px 30px;
    border-bottom: 1px solid #10558d;
    color: black;
    font-size: 25px;
    position: relative;
}

.wrapper .sidebar ul li a:hover{
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}
